body {
	background-color: white;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	/*overflow-x: hidden;*/
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	opacity: 1;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.top {
	padding: 10px;
}

.bottom {
	padding: 10px;
	border: 10px;
	margin-top: auto;
	margin-bottom: 20px;
}

.center {
	display: flex;
	justify-content: center;
}

.logo-box {
	border: 3px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.5);
	background-size: contain;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(5px);
	padding: 2vw;
}

.logo-img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.crystal-button {
	color: white;
	font-size: clamp(1rem, 3vh, 5vh);
	font-weight: bold;
	border-radius: 20px;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	cursor: pointer;
	text-shadow: 0 2px 4px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);
}

.green-crystal-button {
	background: rgba(0, 255, 0, 0.15);
	border: 3px solid rgba(0, 255, 0, 0.3);
	transition: all 0.3s ease;
}

.green-crystal-button:hover {
	background: rgba(0, 255, 0, 0.3);
	border: 3px solid rgba(64, 255, 64, 0.6);
	transition: all 0.3s ease;
}

.gray-crystal-button {
	background: rgba(127, 127, 127, 0.15);
	border: 3px solid rgba(127, 127, 127, 0.3);
	transition: all 0.3s ease;
}

.gray-crystal-button:hover {
	background: rgba(192, 192, 192, 0.3);
	border: 3px solid rgba(192, 192, 192, 0.6);
	transition: all 0.3s ease;
}

.text {
	font-family: Tahoma, Arial, DejaVu Sans;
	font-size: 4vh;
	color: white;
	text-shadow: 0 2px 4px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

@media (orientation: portrait) {
	.crystal-button {
		padding: 2vh 8vw;
		font-size: 4vh;
	}
	
	.text {
		font-size: 4vh;
	}
	
	.text-small {
		font-size: 2.5vh;
	}
}

@media (orientation: landscape) {
	.crystal-button {
		padding: 2vw 8vh;
		font-size: 4vw;
	}
	
	.text {
		font-size: 4vw;
	}
	
	.text-small {
		font-size: 2.5vw;
	}
}
